.whour {
  padding: 40px 19px 100px 15px;
  background-image: url('./whour.webp');
}

@media screen and (min-width: 768px) {
  .whour {
    padding: 40px 20px 100px 50px;
    background-image: url('./whour.webp');
  }

  .whours {
    padding: 5px;
  }

  .whours::before {
    content: ' ';
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}
