.intro {
  display: flex;
  flex-direction: column;
  padding: 80px 30px 80px 30px;
}

.list-how-it-works {
  list-style: none;
  padding: 20px 0 20px 0;
}

.intro-content {
  padding-left: 12px;
  padding-top: 20px;
  margin-top: 10px;
  border: solid rgb(228, 225, 225);
  border-radius: 5px;
  height: auto;
}

.intro-content:hover {
  border: none;
  box-shadow: 5px 10px 18px rgb(121, 121, 121);
}

.signup-succes {
  bottom: 0;
  width: 100%;
}

.intro-content h1 {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 80px 30px 80px 30px;
    display: flex;
    flex-direction: row;
  }

  .intro-content {
    padding-left: 20px;
    margin-left: 5px;
    border: solid rgb(228, 225, 225);
    border-radius: 5px;
    height: auto;
  }

  .intro-content:hover {
    border: none;
    box-shadow: 5px 10px 18px rgb(121, 121, 121);
  }

  .intro-content h1 {
    font-size: 60px;
    font-weight: 700;
  }

  .list-how-it-works {
    font-size: 20px;
  }

  .list-how-it-works li {
    padding-bottom: 15px;
  }

  .signup-succes {
    bottom: 0;
    width: 100%;
  }
}
